.sign {
    width: 396px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
}

.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sign__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.error-cont {
    width: 100%;
    height: 20px;
}

.sign__input {
    width: 100%;
    background: #F9F9F9;
    border-radius: 8px;
    outline: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    height: 46px;
    border: none;
    margin-top: 10px;
}

.sign-button-cont {
    width: 100%;
    margin: 152px auto 16px;
}

.submit-error {
    width: 100%;
    height: 20px;
}

.sign-button {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
    outline: none;
}

.sign-button_disabled {
    background-color: #A0A0A0;
}

.sign__link {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 60px;
}

.sign-span {
    color: #A0A0A0;
}

.sign-button-cont_place_register {
    margin-top: 49px;
}

.input-error {
    color: red;
    /*visibility: hidden;*/
    font-weight: normal;
    font-size: 11px;
    height: 13px;
    width: 100%;
    text-align: left;
    line-height: 13px;
    margin-top: 3px;
}

@media screen and (max-width: 420px) {
    .sign {
        width: 260px;
    }

    .sign-button-cont {
        margin-top: 247px;
    }

    .sign-button-cont_place_register {
        margin-top: 137px
    }

    .sign__link {
        font-size: 12px;
        line-height: 15px;
    }

}


